{% extends "base.html" %}
{% block content %}
<h2 style="padding-top: 15px;">コメント編集</h2>
<form method="post">{% csrf_token %}
    <div class="mb-3">
        <label for="id_content" class="form-label"><h3><strong>コメント</strong></h3></label>
        <textarea name="content" cols="40" rows="2" class="form-control" id="id_content">{{ form.content.value|default_if_none:'' }}</textarea>
        {% if form.contet.errors %}
            <div class="text-danger">
            {% for error in form.errors %}
                {{ error }}
            {% endfor %}
            </div>
        {% endif %}
    </div>
  <button type="submit" class="btn btn-outline-success mb-3">更新</button><br>
  <button class="btn btn-outline-primary" onclick="history.back()">戻る</button>
</form>
{% endblock %}
